{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h2 style="margin-bottom: 40px;">New Question</h2>
<div class="row">
    <div class="col-2">
        <div style="margin-bottom: 30px;">
            Title
        </div>
        <div style="margin-bottom: 280px;">
            Text
        </div>
        <div>
            Tags
        </div>

    </div>
    <div class="col-10">
                            <textarea style="margin-bottom: 20px;"
                                      name="textarea-title"
                                      rows="1"
                                      cols="50"
                                      placeholder="Write title here. (Max length 30)"
                                      maxlength="30"></textarea>
        <textarea style="margin-bottom: 45px;"
                  name="textarea-question"
                  rows="10"
                  cols="50"
                  placeholder="Write your question here. (Max length 200)"
                  maxlength="200"></textarea>
        <textarea
                name="textarea-tags"
                rows="1"
                cols="50"
                placeholder="Write tags here. (Max length 30)"
                maxlength="30"></textarea>

        <div>
            <button class="button-ask">ASK!</button>
        </div>
    </div>
</div>

{% endblock %}