{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="login-label">
    <h2>Log In</h2>
</div>
<div class="error-login">
    Sorry, wrong login/password!
</div>
<div>
                    <span class="Login">
                    Login
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter login here."
                            maxlength="20"
                            style="vertical-align: middle; margin-left: 90px; margin-bottom: 20px;"></textarea>
                </span>
</div>
<div>
                    <span class="Password">
                    Password
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter password here."
                            maxlength="30"
                            style="vertical-align: middle; margin-left: 60px;"></textarea>
                </span>
</div>
<div style="margin-left: 134px; margin-top: 40px;">
    <button>Log in!</button>
</div>
<div style="margin-left: 134px; margin-top: 40px;">
    <a href="">create new account</a>
</div>

{% endblock %}