{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="row question-container">
    <div class="col-3">
        <img src="{% static '/img/ava.jpg'%}" alt="" class="question-image">
        <div class="d-flex justify-content-start align-items-center">
            <h>10</h>
            <button class="like-button">&#128077;</button>
            <button class="dislike-button">&#128078;</button>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a href="">{{ question.title }}</a></div>
        <div class="question-text">{{ question.content }}</div>
        <div class="d-flex justify-content-between align-items-center" style="margin-top: 15px;">

            <div class="question-tags">
                <h>Tags: <a href="">CSS</a> <a href="">JS</a></h>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="answers-container" style="padding: 0px 30px;">

    {% include 'components/answer-item.html' %}

</div>
<hr/>
<div class="add-question" style="margin: 20px;">
                    <textarea
                            name="textarea-answer"
                            rows="5"
                            cols="80"
                            placeholder="Enter your answer here... (Max length 200)"
                            maxlength="200"></textarea>
</div>
<div>
    <button class="button-answer" style="margin-left: 20px;">Answer</button>
</div>

{% endblock %}
