<!doctype html>
<html lang="en" class="h-100">
<head>

    <meta charset="UTF-8">
    <title>settings</title>
    <!-- Bootstrap -->

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/img/ava.jpg" alt="" class="logo">
                Vopros & Otvet
            </a>


            <form class="d-flex col-4">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="user row">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <a class="user-profile-img" href="#">
                        <img src="../static/img/ava.jpg" alt="" class="avatar">
                    </a>

                </div>
                <div class="col-8">
                    <div class="user-name">
                        <a class="user-profile-text" href="#">
                            SER0021
                        </a>
                    </div>
                    <div>
                        <a class="setting-button" href="#">setting</a>
                        <a class="logout-button" href="#">logout</a>
                    </div>


                </div>

            </div>

        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Settings: SER0021</h2>
                <div>
                    <span class="Login">
                    Login
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter login here. (Max length 20)"
                            maxlength="30"
                            style="vertical-align: middle; margin-left: 90px;"></textarea>
                </span>
                </div>
                <div style="margin-top: 20px;">
                    <span class="Email">
                    Email
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter login here. (Max length 20)"
                            maxlength="30"
                            style="vertical-align: middle; margin-left: 90px;"></textarea>
                </span>
                </div>
                <div style="margin-top: 20px;">
                    <span class="NickName">
                    NickName
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter login here. (Max length 20)"
                            maxlength="30"
                            style="vertical-align: middle; margin-left: 54px;"></textarea>
                </span>
                </div>
                <div style="margin-top: 20px;">
                        <span class="Upload-avatar">
                    Upload avatar
                    <img src="../static/img/ava.jpg" alt="" class="setting-image">
                </span>
                </div>
                <div class="file-path">
                    <span>
                        <textarea
                                name="file-path-title"
                                rows="1"
                                cols="20"
                                placeholder="C:\\..."
                                style="vertical-align: middle;"></textarea>
                        <button>choose</button>
                    </span>
                </div>
                <div>
                    <button class="save-button">save</button>
                </div>

            </div>


            <div class="col-4">
                <div class="right-panel">
                    <div class="row">
                        <h2>Popular tags</h2>
                        <div class="tags">
                            <span class="badge bg-primary">Python</span>
                            <span class="badge bg-secondary">CSS</span>
                            <span class="badge bg-danger">Django</span>
                            <span class="badge bg-success">VK</span>
                            <span class="badge bg-dark">Swift</span>
                        </div>
                        <br/>
                        <h2>Best members</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="">Mr.Freeman</a></li>
                            <li class="list-group-item"><a href="">Second item</a></li>
                            <li class="list-group-item"><a href="">Third item</a></li>
                            <li class="list-group-item"><a href="">Fouth item</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">

    </div>
</footer>


<script src="../static/js/bootstrap.js"></script>


</body>
</html>
