{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="login-label">
    <h2>Registration</h2>
</div>
<div class="error-login">
    Sorry, this email already exist!
</div>
<div>
                    <span class="Login">
                    Login
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter login here."
                            maxlength="20"
                            style="vertical-align: middle; margin-left: 90px; margin-bottom: 20px;"></textarea>
                </span>
</div>
<div>
                    <span class="Email">
                    Email
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter email here."
                            maxlength="20"
                            style="vertical-align: middle; margin-left: 90px; margin-bottom: 20px;"></textarea>
                </span>
</div>
<div>
                    <span class="Nickname">
                    NickName
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter NickName here."
                            maxlength="20"
                            style="vertical-align: middle; margin-left: 55px; margin-bottom: 20px;"></textarea>
                </span>
</div>
<div>
                    <span class="Password">
                    Password
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter Password here."
                            maxlength="20"
                            style="vertical-align: middle; margin-left: 60px; margin-bottom: 20px;"></textarea>
                </span>
</div>
<div>
                    <span class="Password">
                    Repeat Password
                    <textarea
                            name="textarea-title"
                            rows="1"
                            cols="30"
                            placeholder="Enter Password here."
                            maxlength="30"
                            style="vertical-align: middle; margin-left: 5px;"></textarea>
                </span>
</div>

<div style="margin-top: 20px;">
                        <span class="Upload-avatar">
                    Upload avatar
                    <img src="../static/img/ava.jpg" alt="" class="setting-image">
                </span>
</div>
<div class="file-path">
                    <span>
                        <textarea
                                name="file-path-title"
                                rows="1"
                                cols="20"
                                placeholder="C:\\..."
                                style="vertical-align: middle;"></textarea>
                        <button>choose</button>
                    </span>
</div>
<div>
    <button class="save-button">Register!</button>
</div>

{% endblock %}
