{% load static %}

<div class="row answers-item">
    <div class="col-3">
        <img src="{% static '/img/ava.jpg'%}" alt="" class="question-image">
        <h>10</h>
        <button class="like-button">&#128077;</button>
        <button class="dislike-button">&#128078;</button>
    </div>
    <div class="col-9">
        <div class="question-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала
            XVI
            века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
            шрифтов,
            используя Lorem Ipsum для распечатки образцов.
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-top: 15px;">
            <div>
                <input type="checkbox" id="correct" value="correct"/>
                <label for="correct">Correct</label>
            </div>

            <div class="question-tags">
                <h>Tags: <a href="">CSS</a> <a href="">JS</a></h>
            </div>
        </div>
    </div>
</div>